<!DOCTYPE html>
<html lang ="it">
 <head>   
<h1>Segnalazioni in archivio </h1>
</head>
<body>

<!-- TODO Usare metodi get dei segnalazioneModel -->
<% for (var i=0; i<numSegnalazioni; i++){ %>
    <%= listaSegnalazioni[i].nome %>,
    <%= listaSegnalazioni[i].descrizione %>, 
    <%= listaSegnalazioni[i].indirizzo %>, 
    <%= listaSegnalazioni[i].img %> <p></p>
<% } %>
</body>    

<a href="http://localhost:3000/home">Segnala</a>
</html>